<nav class="nav-list">
    <ul>
        <div class="logo">
            <a href="#"><img src="../assets/img/logo-prx.png" alt="Paper Rex"></a>
        </div>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../pages/teams.html">Teams</a></li>
        <li><a href="#">Creators</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<div class="social-media">
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
    <a href=""><i class="fa-brands fa-tiktok"></i></a>
    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
    <a href=""><i class="fa-brands fa-discord"></i></a>
    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
    <a href=""><i class="fa-brands fa-reddit-alien"></i></a>
</div>